<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div align="center">
        <a href="/">Home</a>
        <a href="/add-student">Add Student</a>

        <h1>Add New Student</h1>
        <form method="post" action="/new-student">
            <table border="1">
                <tr>
                    <td>Id</td>
                    <td><input type="text" name="id" /></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" /></td>
                </tr>
                <tr>
                    <td>Mobile No</td>
                    <td><input type="text" name="mobileNo" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Add Student" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>